$font-family: "Gilroy", sans-serif;
$second-family: "Montserrat", sans-serif;
$third-family: "Roboto", sans-serif;
$font3: "Neutraface Display", sans-serif;
$font4: "Pangolin", sans-serif;
$root-font-size: 20px;
$button-blue-bg: #3c336c;
$button-green-bg: #309f85;
$button-radius: 60px;
$h1-size: 3.2rem;