*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

a:focus,
*:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  /*плавная прокрутка по якорям*/
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/*Обнуление стилей*/
body {
  line-height: 1;
  margin: 0 auto;
}

button {
  cursor: pointer;
  padding: 0;
  font-family: inherit;
}

img {
  vertical-align: top;
}

input,
textarea {
  font-family: inherit;
  padding: 0;
}

input:-internal-autofill-selected {
  background-color: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: normal;
  margin-top: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover,
a:visited {
  text-decoration: none;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.button{
  border-radius: 60px;
  padding: 18px 43px;
  width: 250px;
  height: 60px;
}