header.header__container
  .header__wrap
    .header__col
      .header__logo
        .header-logo__img
          svg(class="icon")
            use(xlink:href="assets/images/sprite.svg#icon-logo")
    .header__col
      .header__search
        .header__search-bar
          span.header__search-fild(type="text" id="searchInput" placeholder="Поиск")
    .header__col
      button.header__button-phone
        a.link.header__link-phone(href="tel:+380630130103") +380 630 130 103
    .header__col
      button.header__user
        svg(class="icon")
          use(xlink:href="assets/images/sprite.svg#icon-user")

